<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Musical Circles app</title>
  <link rel="stylesheet" href="/dependancies/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h2>Musical keys</h2>
  <p>Press any alphabet key to play tones</p>

  <script src="/dependancies/js/jquery.min.js"></script>
  <script src="/dependancies/js/howler.min.js"></script>
  <script src="/script.js"></script>
</body>
</html>
